CBNUAI_API_KEY=your_cbnuai_api_key_here
MFDS_API_KEY=your_mfds_api_key_here

MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=click_db
MYSQL_USER=click_user
MYSQL_PASSWORD=clickpassword
MYSQL_HOST=localhost
MYSQL_PORT=3306
